<!-- header for nav bar -->

<nav class="navbar navbar-inverse">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Aniket.B</a>
      </div>
      <!-- Collection of nav links and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="#">About</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          <ul class="nav navbar-nav navbar-right">           
              <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>          
          </ul>
      </div>
  </div>
</nav>
<!-- header Ends -->

<!-- Footer With Logo -->
<body>
<div class="content">
</div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 myCols">
                    <h5>Get started</h5>
                  
                </div>
                <div class="col-sm-3 myCols">
                    <h5>About us</h5>
                    
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Support</h5>
                   
                </div>
                <div class="col-sm-3 myCols">
                    <h5>Legal</h5>
                   
                </div>
            </div>
        </div>
        
        <div class="footer-copyright">
                © 2018 Copyright Text                          
        </div>
    </footer>

  </body>



<!-- Sticky Social Media Icon -->


  <div class="sticky-container">
        <ul class="sticky">
            <li>
                <img src='../assets/Social Media/facebook-128.png' width="32" height="32">
                <p><a href="https://www.facebook.com" target="_blank">Like Us on<br>Facebook</a></p>
                
            </li>
            <li>
                <img src="../assets/Social Media/twitter.png" width="32" height="32">
                <p><a href="https://twitter.com" target="_blank">Follow Us on<br>Twitter</a></p>
            </li>
            <li>
                <img src="../assets/Social Media/google-plus.png" width="32" height="32">
                <p><a href="https://plus.google.com" target="_blank">Follow Us on<br>Google+</a></p>
            </li>
            <li>
                <img src="../assets/Social Media/linkedin.png" width="32" height="32">
                <p><a href="https://www.linkedin.com/company" target="_blank">Follow Us on<br>LinkedIn</a></p>
            </li>
            <li>
                <img src="../assets/Social Media/youtube.png" width="32" height="32">
                <p><a href="http://www.youtube.com" target="_blank">Subscribe on<br>YouYube</a></p>
            </li>
            <li>
                <img src="../assets/Social Media/Pinterest.svg" width="32" height="32">
                <p><a href="https://www.pinterest.com" target="_blank">Follow Us on<br>Pinterest</a></p>
            </li>
        </ul>
    </div>
<!-- Sticky Social Media Icon Ends -->



